<!DOCTYPE html>
<html lang="en">

<head>


    <title>Ekaadhikar Demonstration Election </title>

    <meta name="description" content="Vote for OpaVote Demonstration Election." />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="fb:admins" content="100004130346820" />
    <meta id="data-locale" data-locale="en">

    <link href="https://plus.google.com/111850198888069322953" rel="publisher" />

    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" size="96x96" href="/img/Ekaadhikar/EkaadhikarIcon.png">
    <link rel="manifest" href="/img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&subset=latin-ext" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/opavote.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" integrity="sha384-6ePHh72Rl3hKio4HiJ841psfsRJveeS+aLoaEf3BWfS+gTF0XdAqku2ka8VddikM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" integrity="sha384-YWP9O4NjmcGo4oEJFXvvYSEzuHIvey+LbXkBNJ1Kd0yfugEZN9NCQNpRYBVC1RvA" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/opavote.min.js"></script>

    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" integrity="sha384-FFgGfda92tXC8nCNOxrCQ3R8x1TNkMFqDZVQdDaaJiiVbjkPBXIJBx0o7ETjy8Bh" crossorigin="anonymous"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
<![endif]-->

    <noscript>
<style>.js-only { display:none; }</style>
</noscript>


    <link rel="alternate" href="/vote/5654402576678912" hreflang="x-default" />
    <link rel="alternate" href="/en/vote/5654402576678912" hreflang="en" />
    <link rel="alternate" href="/es/vote/5654402576678912" hreflang="es" />
    <link rel="alternate" href="/fr/vote/5654402576678912" hreflang="fr" />
    <link rel="alternate" href="/pt/vote/5654402576678912" hreflang="pt" />
    <link rel="alternate" href="/it/vote/5654402576678912" hreflang="it" />
    <link rel="alternate" href="/sk/vote/5654402576678912" hreflang="sk" />

</head>

<body>
    <style>
        .homeButton {
            position: absolute;
            top: 30px;
            right: 220px;
            color: white;
            font-size: 20px;
            padding: 5px;
        }
        
        .homeButton a {
            color: white;
            text-decoration: none;
        }
    </style>
    <header class="hidden-print">
        <div class="container-fluid width-sm no-menu-header">
            <a href="/"><img src="/img/Ekaadhikar/Ekaadhikar.png" alt=" Online Voting"></a>
        </div>
        <div class="homeButton">
            <a href="/"><i class="fa fa-home">&nbsp&nbsp</i>HOME</a>
        </div>
    </header>

    <div class="content election-bg">
        <div class="container-fluid width-sm">

            <div class="election js-only">



                <div class="chunk">

                    <h1>Ekaadhikar Demonstration Election</h1>
                    <div>
                        <p>This is a demonstration election to show some of the features of Ekaadhikar. There are five contests illustrating different voting methods supported by Ekaadhikar. In your own elections, you can customize this text, use <b>rich</b>                            <i>formatting</i>, and include pictures. Below, you can also see example reports showing the results of this election so far.</p>
                    </div>
                </div>
                <form name="ballot" method="POST" id="ballot-form">
                    <input id="csrf_token" name="csrf_token" type="hidden" value="20200316095252##9fdf29ffde8abd5499a9201d84dcf4f96523a863">

                    <div class="chunk">
                        <h2>Approve Board Decision</h2>
                        <div>
                            <p>This is the first contest in this election. Here, we are deciding whether to approve a board decision using plurality voting. In this example, the voter is required to select a choice, but you can also allow voters to cast
                                empty votes.</p>
                        </div>
                        <p><b>Instructions</b>: Click to select or unselect a choice. You must select exactly 1 choice.


                        </p>

                        <div id="ballot-0"></div>
                        <input id="order-0" class="order" type="hidden" name="order-0" />
                    </div>
                    <div class="chunk">
                        <h2>President</h2>
                        <div>
                            <p>This second contest is for electing a president using instant runoff voting. This is an example of the <i>ranked simple</i> ballot. The next contest shows the <i>ranked enhanced</i> ballot.</p>
                        </div>
                        <p><b>Instructions</b>: Drag the choices to arrange them in order of preference with your most preferred at the top and your least preferred at the bottom.

                        </p>

                        <div id="ballot-1"></div>
                        <input id="order-1" class="order" type="hidden" name="order-1" />
                    </div>
                    <div class="chunk">
                        <h2>Executive Committee</h2>
                        <div>
                            <p>This third contest is for electing two people to an executive committee using the single transferable vote. This is an example of the <i>ranked enhanced</i> ballot.</p>
                        </div>
                        <p><b>Instructions</b>: Use the buttons to add choices to the ballot, and then drag to arrange them in order of preference with your most preferred at the top and your least preferred at the bottom.
                        </p>

                        <div id="ballot-2"></div>
                        <input id="order-2" class="order" type="hidden" name="order-2" />
                    </div>
                    <div class="chunk">
                        <h2>Most Valuable Player</h2>
                        <div>
                            <p>This fourth contest is to select a most valuable player of a sports team using Condorcet voting.</p>
                        </div>
                        <p><b>Instructions</b>: Drag the choices to arrange them in order of preference with your most preferred at the top and your least preferred at the bottom.

                        </p>

                        <div id="ballot-3"></div>
                        <input id="order-3" class="order" type="hidden" name="order-3" />
                    </div>
                    <div class="chunk">
                        <h2>Select Day for Lunch</h2>
                        <div>
                            <p>This fifth contest is to select a day for lunch among colleagues using approval voting.</p>
                        </div>
                        <p><b>Instructions</b>: Click to select or unselect a choice.


                        </p>

                        <div id="ballot-4"></div>
                        <input id="order-4" class="order" type="hidden" name="order-4" />
                    </div>
                    <div class="chunk">
                        <p>
                            <b>Instructions</b>: Double check your ballot. Then click the "Vote!" button to cast your vote.</p>
                        <div class="notranslate text-center bottomm10">
                            <button class="btn btn-lg btn-success" id="enter-vote-btn" type="submit" name="submit" value="Vote!">
<span class="glyphicon glyphicon-ok"></span>
Vote!</button>
                        </div>
                    </div>

                </form>
                <!-- <div class="chunk text-center">
                    <p class="vcenter">
                        Preliminary results are available <a href="/results/5654402576678912">here</a> (updated every 5 minutes).
                    </p>
                </div> -->
            </div>

            <noscript>
<h1>Javascript Required</h1>
<p>Javascript must be enabled to vote in an election or poll.</p>
</noscript>

        </div>

    </div>

    <footer class="blue hidden-print text-center">
        <div class="container">
            <div class="footer-nav">
                <ul>
                    <li><a href="/terms">Terms</a></li>
                    <li><a href="/privacy">Privacy</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script type="text/javascript">
        $(document).ready(function() {

            set_locale.init();

            var opavote_data = {
                "status": "VOTING",
                "show_results": "yes",
                "description": "<p>This is a demonstration election to show some of the features of OpaVote. There are five contests illustrating different voting methods supported by OpaVote. In your own elections, you can customize this text, use <b>rich</b> <i>formatting</i>, and include pictures. Below, you can also see example reports showing the results of this election so far.</p>",
                "title": "OpaVote Demonstration Election",
                "poll_registration": "none",
                "mode": "poll",
                "error": false,
                "contests": [{
                    "n_seats": 1,
                    "description": "<p>This is the first contest in this election. Here, we are deciding whether to approve a board decision using plurality voting. In this example, the voter is required to select a choice, but you can also allow voters to cast empty votes.</p>",
                    "title": "Approve Board Decision",
                    "shuffle_cand": "no",
                    "ballot_type": "choose one",
                    "require_full": "yes",
                    "candidates": ["Candidate 1", "Candidate 2"],
                    "method": "Plurality/FPTP/SNTV"
                }, {
                    "n_seats": 1,
                    "description": "<p>This second contest is for electing a president using instant runoff voting. This is an example of the <i>ranked simple</i> ballot. The next contest shows the <i>ranked enhanced</i> ballot.</p>",
                    "title": "President",
                    "shuffle_cand": "yes",
                    "ballot_type": "ranked simple",
                    "require_full": "no",
                    "candidates": ["Candidate 1", "Candidate 2", "Candidate 3", "Candidate 4", "Candidate 5"],
                    "method": "Instant Runoff Voting"
                }, {
                    "n_seats": 2,
                    "description": "<p>This third contest is for electing two people to an executive committee using the single transferable vote. This is an example of the <i>ranked enhanced</i> ballot.</p>",
                    "title": "Executive Committee",
                    "shuffle_cand": "yes",
                    "ballot_type": "ranked enhanced",
                    "require_full": "no",
                    "candidates": ["Candidate 1", "Candidate 2", "Candidate 3", "Candidate 4", "Candidate 5"],
                    "method": "Scottish STV"
                }, {
                    "n_seats": 1,
                    "description": "<p>This fourth contest is to select a most valuable player of a sports team using Condorcet voting.</p>",
                    "title": "Most Valuable Player",
                    "shuffle_cand": "yes",
                    "ballot_type": "ranked simple",
                    "require_full": "no",
                    "candidates": ["Candidate 1", "Candidate 2", "Candidate 3", "Candidate 4", "Candidate 5"],
                    "method": "Condorcet Beatpath"
                }, {
                    "n_seats": 1,
                    "description": "<p>This fifth contest is to select a day for lunch among colleagues using approval voting.</p>",
                    "title": "Select Day for Lunch",
                    "shuffle_cand": "no",
                    "ballot_type": "choose one",
                    "require_full": "no",
                    "candidates": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
                    "method": "Approval Voting"
                }],
                "eid": 5654402576678912
            };
            election.init(opavote_data);
        });
    </script>

</body>

</html>